.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my code starts here */

.dropdown-menu {
  max-height: 50vh;
  overflow: scroll;
}

small {
  font-weight: 400;
  color: #585a5c;
}

#warning-message {
  display: none;
}

/* Standard syntax */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* disable red color for weekends*/
.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  justify-content: flex-start;
  /* Align content to the top */
  height: 65px !important;
}

.overview-champion {
  height: 500px;
}

.overview-match {
  height: 1000px;
}

/* image size declaration*/

.champion-img {
  width: 48px;
  height: 48px;
  padding: 0;
}

.profile-img {
  width: 48px;
  height: 48px;
  padding: 0;
}

.champion-img-small {
  width: 24px;
  height: 24px;
}

.rune-spell-img-small {
  width: 24px;
  height: 24px;
  padding: 0;
}

.item-img-small {
  width: 24px;
  height: 24px;
}

.match-summary-champion-img-container {
  padding-left: 0;
}

.match-time {
  width: 98px !important;
  padding-left: 6px;
  padding-right: 6px;
}

.champion-summary-container {
  height: 64px;
}

#num-games {
  margin-top: 0.5rem !;
  margin-bottom: 0.5rem;
}

/* match summary item grid */
.item-grid-two-rows {
  width: 72px;
}

/* match detail overview item grid */
.item-grid-one-row {
  width: 144px;
}

.row {
  display: flex;
  align-items: center;
}

/* graph value display setting*/

/* Wrapper to manage relative positioning */
.progress-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Progress bar styles */
.progress {
  width: 100%;
  background-color: #ddd;
  height: 20px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0;
}

.progress-bar {
  height: 100%;
  background-color: #6c757d; /* Secondary color */
  transition: width 0.3s ease;
}

/* Text alignment for both inside and outside */
.progress-text {
  position: absolute;
  left: 10px; /* Always align numbers to the left */
  font-size: 0.875rem;
  white-space: nowrap;
  color: #6c757d;
}

/* match detail tab color adjustment  */

.nav-link.match-detail-tab {
  color: black !important; /* Default text color */
  background-color: lightgray !important; /* Default background */
  border: 1px solid gray !important;
}

.nav-link:hover.match-detail-tab {
  color: white !important;
  background-color: darkgray !important; /* Change color on hover */
}

.nav-link.active.match-detail-tab {
  color: white !important;
  background-color: #b2beb5 !important; /* Custom active tab color */
}

.match-detail-tab-holder {
  padding-right: 0 !important;
}

/* 
.pastel-red {
  background-color: #e16a54 !important;
}

.pastel-blue {
  background-color: #7bd3ea !important;
} */
