.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* my code starts here */

.dropdown-menu {
  max-height: 50vh;
  overflow: scroll;
}

small {
  font-weight: 400;
  color: #585a5c;
}

#warning-message {
  display: none;
}

/* Standard syntax */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* disable red color for weekends*/
.react-calendar__month-view__days__day--weekend {
  color: inherit !important;
}

.react-calendar__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  justify-content: flex-start;
  /* Align content to the top */
  height: 65px !important;
}

.overview-champion {
  height: 500px;
}

.overview-match {
  height: 1000px;
}

.champion-img {
  width: 48px;
  height: 48px;
  padding: 0;
}

#num-games {
  margin-top: 0.5rem !;
  margin-bottom: 0.5rem;
}

/* 
.btn-group {
  position:
} */
